/pkg/*
!/pkg/.gitkeep

/bin/*
!/bin/.gitkeep

/node_modules
/assets/build

/src/goalbum/assets.go
/src/goalbum/templates/*
!/src/goalbum/templates/index.html.ctmpl
!/src/goalbum/templates/js/.gitkeep
!/src/goalbum/templates/css/.gitkeep
!/src/goalbum/templates/css/default-skin/.gitkeep
!/src/goalbum/templates/font/.gitkeep
!/src/goalbum/templates/fonts/.gitkeep
!/src/goalbum/templates/font/material-design-icons/.gitkeep
!/src/goalbum/templates/font/roboto/.gitkeep
!/src/goalbum/templates/fonts/roboto/.gitkeep
